@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 300px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.nav-link {
    color: black;
}

/* Couleur spécifique pour le lien avec href="#" */
a[href="/streameretyoutuber"] {
    color: red; /* ou toute autre couleur spécifique que vous voulez */
}

.hero-scene{
    position: relative;
    overflow: hidden; /* Assure que le débordement est masqué pour s'adapter à la taille du contenu */
}
.accueil-scene{
    position: relative;
    overflow: hidden; /* Assure que le débordement est masqué pour s'adapter à la taille du contenu */
}
.hero-scene::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* La taille de l'image de fond s'adaptera à la taille du contenu principal */
    background-image: url(../assets/picture/SinnohFond.png);
    background-size: cover;
    background-position: center; /* Centre l'image horizontalement et verticalement */
    filter: brightness(0.8);
    z-index: -1;
}
.accueil-scene::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* La taille de l'image de fond s'adaptera à la taille du contenu principal */
    background-image: url(../assets/picture/GalarFond.png);
    background-size: cover;
    background-position: center; /* Centre l'image horizontalement et verticalement */
    filter: brightness(0.8);
    z-index: -1;
}
.hero-scene-content {
    min-height: calc(100vh - 300px); /* Garantit que le contenu principal prend au moins toute la hauteur de la fenêtre du navigateur */
    padding-bottom: 300px; /* Ajustez ceci selon la hauteur de votre footer */
    box-sizing: border-box; /* Assure que le padding ne modifie pas la taille totale */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background-color: rgba(240, 240, 240, 0.500); /* Couleur de fond gris avec une opacité de 0.9 */
    padding: 10px; /* Ajouter du rembourrage autour du texte */
}

footer {
    position: relative;
    height: 300px; /* Ajustez ceci selon la hauteur de votre footer */
    background-color: #333; /* Juste pour la démonstration */
}

.bg-contact {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond foncée */
    color: #fff; /* Couleur de texte claire */
}